@model BlogProject.Models.User

@{
	ViewData["Title"] = "UserEdit";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";

}




<div class="container">
	<div class="card shadow-sm" style="max-width: 540px; margin: 0 auto;">

		<div class="row g-0">
			<div class="col-md-4 p-3 text-center">
				<img src="https://www.google.com/imgres?q=profile%20image&imgurl=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2015%2F10%2F05%2F22%2F37%2Fblank-profile-picture-973460_960_720.png&imgrefurl=https%3A%2F%2Fpixabay.com%2Fvectors%2Fblank-profile-picture-mystery-man-973460%2F&docid=wg0CyFWNfK7o5M&tbnid=IFTclT_pNlD0eM&vet=12ahUKEwiy9efOnKeMAxXRqWMGHQzFJvEQM3oFCIABEAA..i&w=720&h=720&hcb=2&ved=2ahUKEwiy9efOnKeMAxXRqWMGHQzFJvEQM3oFCIABEAA" class="rounded-circle img-thumbnail" alt="Profile Picture">

			</div>

			<div class="col-md-8">
				<div class="card-body">
					<form asp-controller="Admin" asp-action="UserEdit" method="post">
						<input type="hidden" asp-for="@Model.Id" value="@Model.Id" />
						<h5 class="card-title d-flex justify-content-between align-items-center">
							<lebel class="form-label">Name </lebel>
							<input type="text" asp-for="@Model.Name" value="@Model.Name" />
						</h5>
						<p class="card-text text-muted">

							<i class="fas fa-briefcase"></i>@Model.Role
						</p>
						<p class="card-text">

							<label class="form-label" asp-for="UserName"></label>
							<input type="text" asp-for="@Model.UserName" value="@Model.UserName" />

						</p>
						<div class="">
							<label class="form-label" asp-for="Email"></label>
							<input type="text" asp-for="@Model.Email" value="@Model.Email" />
						</div>
						<div class="form-group">
							<input type="submit" value="Save" class="btn btn-primary" />
						</div>
					</form>
					<div class="border-top pt-2">
						<div class="row text-center">
							<div class="col">
								<h6>Blogs</h6>
								<strong>25</strong>
							</div>
							<div class="col border-start">
								<h6>Likes</h6>
								<strong>142</strong>
							</div>
							<div class="col border-start">
								<h6>Comments</h6>
								<strong>289</strong>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



	</div>
</div>